<div>
  <div class="search-hero">
    <input class="formControl" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
  </div>
  <button routerLink="/">
    admin
  </button>
  <table>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Product Category</th>
      <th>Product Description</th>
      <th>Product Price</th>
    </tr>
    <ng-container *ngFor="let product of products; let i of index | filter : searchText">
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><button (click)="onDelete(i, product)">delete</button></td>
      </tr>
    </ng-container>
  </table>
</div>
